.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;

    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.sign-in-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sign-in-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    gap: 10px;
}

.sign-in-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

// .sign-in-icon {
//     font-size: 5rem;
// }

.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}


.input-wrapper label {
    font-weight: bold;
}

.input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

.input-rememberme {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-checkbox {
    transform: scale(1.2);
}

.input-checkbox:hover {
    cursor: pointer;
}

// .input-error {
//     display: none;
// }

.input-error-txt {
    color: red;
}